#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
.board-wrapper {
	display: flex;
	flex-direction: column;
}

.board {
	display: flex;
}

.column {
	width: 4rem;
	border: 1px grey solid;
}
.cell {
	height: 4rem;
	width: 100%;
	border: 1px grey solid;
}

.cell .matrix > div {
	width: auto;
	height: 100%;
}

.potion-board {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.potion-row {
	display: flex;
}

.potion-row > div {
	border-radius: 50%;
	border: 1px grey solid;
	width: 4rem;
	height: 4rem;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}